<nav class="navbar">
  <div class="navbar-logo">
    <a href="javascript:void(0)" (click)="scrollToSection('hero')">TechHub</a>
  </div>
  <ul class="navbar-menu">
    <li><a href="javascript:void(0)" (click)="scrollToSection('hero')">Home</a></li>
    <li><a href="javascript:void(0)" (click)="scrollToSection('features')">Features</a></li>
    <li><a href="javascript:void(0)" (click)="scrollToSection('services')">Services</a></li>
    <li><a href="javascript:void(0)" (click)="scrollToSection('about')">About</a></li>
    <li><a href="javascript:void(0)" (click)="scrollToSection('contact')">Contact</a></li>
  </ul>
  <div class="navbar-login">
    <button (click)="handleLogin()">Login</button>
  </div>
</nav>
